* {
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    font-family: Arial;
    background-color: #fff;
    font-size: 14px;
    font-weight: 300;
    height: 100%;
}
.main-container{
    margin: .5em;
    flex: 1 0 auto;
}
.main-nav{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.main-nav img{
    position: relative;
    padding: .5rem;
    margin-left: 12px;
    border-radius: 150px;
}
.main-nav-as{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}
.main-nav-as a{
    text-decoration: none;
    color: rgb(51, 49, 49);
    padding: 10px; 
}
#logo{
    width: 272px;
    height: 92px;
    display: flex;
    margin: auto;
}
.searchbar-container{
    position: relative;
}
#searchbar{
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 575px;
    height: 40px;
    border-radius: 150px;
}
.btn-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 350px;
}
.btn-center input{
    height: 30px;
    width: 150px;
    border: 0;
    color: #aaa;
}
.credits{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.footer{
    flex: 0 0 auto;
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.country{
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
    margin-left: 3px;
    position: relative;
    border-bottom: 1px solid #e4e4e4;
}
.links{
    position: relative;
}
.links a{
    text-decoration: none;
    color: rgba(95, 99, 104);
}
.footer-span{
    display: block;
    text-align: center;
    padding-right: 0px;
    margin: auto;
}.footer-right{
    position: static;
}