* {
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial;
    background-color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.main-container{
    margin: .5em;
    /*border: solid black;*/
}
.main-nav{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.main-nav img{
    position: relative;
    padding: .5rem;
    margin-left: 12px;
    border-radius: 150px;
}
.main-nav-as{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}
.main-nav-as a{
    text-decoration: none;
    color: rgb(51, 49, 49);
    padding: 10px; 
}
#logo{
    width: 272px;
    height: 92px;
    display: flex;
    margin: auto;
}